#container,body,html {
	height:100%;
}

#num1 {
	background-color:#557e99;
	height:15%;
	width:70%;
	margin:1%;
}

#num2 {
	background-color:purple;
	height:60%;
	width:20%;
	float:left;
	margin:1%;
}

#num3 {
	background-color:green;
	height:60%;
	width:48%;
	float:left;
	margin:1%;
}

#num4 {
	background-color:blue;
	height:15%;
	width:70%;
	margin:1%;
	clear:left;
}
